*{
    margin: 0;
    padding: 0;
    text-align: center;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px 10px;
    border-radius: 1px;
    gap: 10px;
    background-color: #E7EDF0;
}

.destination-card{
    max-width: 200px;
    flex-grow: 1;
    background-color: #1E5982;
}

img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div{
    border: 1px solid yellow;
}

section{
    border: 1px solid red;
    border-radius: 10px;
    background-color: beige;
}

ul{
    list-style-position: inside;
}

.flex-item{
    margin-bottom: 10px;
}

button{
    background-color: #04395E;
    padding: 4px;
}

body{
    background-color: #CDD2D4;
}

footer{
    display: fixed;
    bottom: 4;

}
@media (max-width: 1200px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}

