.container{
    display: grid;
    margin: 10px auto;

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 80px;

    grid-auto-rows: 80px;

    gap: 20px;


}

#a1{
    background-color: yellow
}

#a2{
    background-color: blue
}

#a3{
    background-color: pink;
    grid-area: 2 / 2/ 4/ 4
}

#a4{
    background-color: palevioletred
}

#a5{
    background-color: green;
    grid-row-start: 1;
    grid-row-end: 3;
}

#a6{
    background-color: yellowgreen
}
