body{
    font-weight: normal;
    margin: 0px;
    border: 0px;
}


.caixa{
    background-color: blue;
    padding: 6px;
}
#caixa-externa{
    background-color: purple;
    padding: 5px;
    margin: 0px;
    border: 0px;
}
.caixa-interna{
    background-color: red;
    border: 0px;
    padding: 0;
}

p{
    margin: 0px;
    border: 0px;
    padding: 0px;
}