*{
    margin: 0;
    padding: 0;
    text-align: center;
}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
    padding: 20px 10px;
    border-radius: 1px;
    gap: 10px;
    background-color: #417ba5;
}

.destination-card{
    max-width: 200px;
    flex-grow: 1;
    background-color: rgba(231, 237, 240, 0.603);
}

img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


section{
    border-radius: 10px;
    background-color: beige;
}

ul{
    list-style-position: inside;
    margin-left: 15%;
    font-size: 0.94rem;

}

li{
    text-align: left;
}

li::marker{
    margin-right: 0px;
}

.destination-title{
    font-weight: 600;
}

.flex-item{
    margin-bottom: 12px;
}

hr {
    height: 1px;
    border: 0; 
    background: linear-gradient(to right, transparent 5%, #053052, transparent 95%); 

}

button{
    border-radius: 5px;
    font-family: 'Staatliches', sans-serif;
    background-color: #1E5982;
    color: #CDD2D4;
    padding: 4px;
}

body{
    background-color: #CDD2D4;

    font-family: "Arial Narrow", Arial, sans-serif;;
    font-family: 'Arimo', sans-serif;

    font-weight: 500;
    color: #053052;
}

footer{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-weight: bold;

}

.price{
    font-family: 'Staatliches', sans-serif;
    font-weight: 200;
}

.value{
    font-size: 2.2rem;

}

.taxes{
    color: #053152c9;
    font-size: 0.8rem;
}

.payment-info{
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.destination-img{
    margin-bottom: 1px;
}


button:hover{
    background-color: #053052;
    color: #CDD2D4;
    cursor: pointer;
}

button:active{
    transform: scale(1.2);
    transition-duration: 2s;
}


a{
    color : #053052;
}

@media (max-width: 1200px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}



