/* You can add global styles to this file, and also import other style files */
:root {
    --main-bg-color: #EAE9F0;
    --secondary-bg-color: #C6DCF5;
    --box-bg-color: #F2F9FF;
    --main-text-color: #00000a;
    --blue: #3e4095;
    --yellow: #f7dc86;
}

a{
    color: var(--blue);
    text-decoration: none;
}

a:hover{
    color: var(--yellow);
}

*{
    margin: 0;
    padding: 0;
    font-family: "Arial Narrow", Arial, sans-serif;
    
}