body h1{
    color: #776B5D;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

a:visited{
    color: #F3EEEA;
}

a:hover{
    color: #EBE3D5;
}

a{
    color:#776B5D;
}


h3{
    font-weight: 500;
}


