#content{
    margin: 0 auto;
    padding: 20px;
    width: 75%;
    background-color: white;
}

footer{
    background-color: rgb(255, 162, 55);
    text-align: center;
}

#wrapper{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: #e8ecf0;
}