:root {
    --main-bg-color: rgb(205, 205, 223);
    --secondary-bg-color: #c8e7f6;
    --box-bg-color: rgb(236, 242, 248);
    --main-text-color: rgb(0, 0, 0);
    --border-color: rgba(240, 248, 255, 0.041);
}


body{
    background-color: var(--main-bg-color);
    margin: 0;
    color: var(--main-text-color);
    min-width: fit-content;
}

.wrapper{
    min-width: fit-content;
    padding: 10px 10px;
    margin: 0 30px;
    background-color: var(--secondary-bg-color);
}
.container{
    display: grid;
    gap: 5px;
    border: 0;
    margin-bottom: 5px;
}

.container1{
    grid-template-columns: 1fr 1fr 20%;
    justify-content: center;
}

.container2{
    grid-template-columns: 1fr 400px;
    justify-content: center;
}

.title{
    text-align:  center;
}

footer{
    display: fixed;
    border: 1px solid black;
    text-align: center;

    font-family: 'Inter', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Roboto', sans-serif;

    font-weight: 100;
}

header{
    text-align: center;
    background-color: #3E4095;
    border: 1px solid transparent;
}


section{
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--box-bg-color);
}

#highlights img{
    margin: 5px 10px;
    width: 100px;
    height: 100px;
}

#highlights .content{
    text-align: center;

}

#highlights{
    min-width: fit-content;
}

.content{
    border-top: var(--border-color);
}

hr{
    border: var(--border-color) solid 1px;
}

h2{
    margin: 0px;
    font-weight: 100;
}

h3{
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Inter', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Roboto', sans-serif;
}

p, li, a{
    font-family: "Arial Narrow", Arial, sans-serif;
}

/* Screens smaller than 500px */
@media (max-width: 500px){
    .container1{
        grid-template-columns: 1fr;
    }
    
    .container2{
        grid-template-columns: 1fr;
    }

    #highlights img{
        width:minmax(100px, 100%);
        margin-bottom: 10px;
    }

    body{
        padding: 0 7px;
    }
}



