.content{
    display: grid;

}

#vehicle{
    display: grid;
    grid-template-columns: 1fr 150px 100px;
}

.selector{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}