body h1{
    color: #776B5D;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 30px;
}

a:visited{
    color: #F3EEEA;
}

a:hover{
    color: #EBE3D5;
}

a{
    color:#776B5D;
}


h3{
    font-weight: 500;
}

#amarelo{
    color: rgb(245, 210, 10);
}

#vermelho{
    color: red;
}

#azul{
    color: rgb(0, 132, 255);
}

#marron{
    color: rgb(165, 122, 42);
}

#violeta{
    color: rgb(111, 18, 165);
}

.cor{
    width: 200px;
    height: 200px;
}

body{
    font-weight: normal;
}