#navbar{
    display: grid;
    grid-template-columns: 80% 10px 1fr;
    padding: 15px 0;
    background-color: rgb(255, 162, 55);
}

#menu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center
}

#menu a{
    margin: 0 40px;
    text-decoration: none;
}

#login{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
}
