<div class="wrapper">
  <app-search (searchEvent)="search($event)"></app-search>
  <ng-template [ngIf]="searchKey != ''">
    <div class="results">
      <h3>Resultado para {{ searchKey | uppercase }}:</h3>
      <div class= "result-wrapper">
        <app-result
          *ngFor="let artigo of artigos"
          [title]="artigo.title"
          [intro]="artigo.snippet"
        ></app-result>
      </div>
    </div>
  </ng-template>
</div>
<footer>
  <p>
    desenvolvido por <a href="github.com/everaldina">everaldina</a>
  </p>
</footer>
